:root{
    --FontColor: #b6bfc8;
    --BorderColor: #c7bb00;
}
body{
    background: linear-gradient(to right, #000000, #120000);
    overflow: auto;
    color: var(--FontColor);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 16px;
}