<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-Quiz || Strategy</title>
    <link rel="stylesheet" href="../../Css/Strategy.css">
    <link rel="stylesheet" href="../../font/Font.css">
    <link rel="stylesheet" href="../../Css/Body.css">
    <link rel="Icon" href="../../Imagen/Strategy.svg" type="image/svg+xml">
</head>
<body>
    <!--Header-->
    <header>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" height="44px" viewBox="0 -960 960 960" width="44px" fill="#c3cc00">
                <path d="M600-120v-120H440v-400h-80v120H80v-320h280v120h240v-120h280v320H600v-120h-80v320h80v-120h280v320H600ZM160-760v160-160Zm520 400v160-160Zm0-400v160-160Zm0 160h120v-160H680v160Zm0 400h120v-160H680v160ZM160-600h120v-160H160v160Z"/>
            </svg>
            <h1>Strategy</h1>
        </div>
    </header>
    <!--Main-->
    <main class="MainContainer">
        <section class="Question">
            <article>
                <span id="Cont">Question 1 of 10</span>
                <p id="Question"></p>
            </article>
            <input type="range" id="Range--question" min="1" max="10" value="1" disabled>
            <button id="Volver">Back in the start</button>
        </section>
        <section class="Answers">
            <article class="Container-Anwers">
                <div class="Container">
                    <div>1</div>
                    <span class="Answer"></span>
                </div>
                <div class="Container">
                    <div>2</div>
                    <span class="Answer"></span>
                </div>
                <div class="Container">
                    <div>3</div>
                    <span class="Answer"></span>
                </div>
                <div class="Container">
                    <div>4</div>
                    <span class="Answer"></span>
                </div>
            </article>
            <button type="button" id="SubmitAnswer">Submit anwer</button>
        </section>
    </main>
    <script src="../../Js/Strategy.js"></script>
</body>
</html>