<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-Quiz || Action</title>
    <link rel="stylesheet" href="../../Css/Action.css">
    <link rel="stylesheet" href="../../../Public/font/Font.css">
    <link rel="stylesheet" href="../../Css/Body.css">
    <link rel="Icon" href="../../../Public/Imagen/Action.svg" type="Imagen/svg">
</head>
<body>
    <!--Header-->
    <header>
        <div>
            <svg  xmlns="http://www.w3.org/2000/svg" height="44px" viewBox="0 -960 960 960" width="44px" fill="#c3cc00">
                <path d="M762-96 645-212l-88 88-28-28q-23-23-23-57t23-57l169-169q23-23 57-23t57 23l28 28-88 88 116 117q12 12 12 28t-12 28l-50 50q-12 12-28 12t-28-12Zm118-628L426-270l5 4q23 23 23 57t-23 57l-28 28-88-88L198-96q-12 12-28 12t-28-12l-50-50q-12-12-12-28t12-28l116-117-88-88 28-28q23-23 57-23t57 23l4 5 454-454h160v160ZM334-583l24-23 23-24-23 24-24 23Zm-56 57L80-724v-160h160l198 198-57 56-174-174h-47v47l174 174-56 57Zm92 199 430-430v-47h-47L323-374l47 47Zm0 0-24-23-23-24 23 24 24 23Z"/>
            </svg>
            <h1>Action</h1>
        </div>
    </header>
    <!--Main-->
    <main>
        <section class="Question">
            <article>
                <span>Question 1 of 10</span>
                <p id="Question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vel obcaecati totam dolor.
                     Laboriosam nulla necessitatibus 
                    provident atque corrupti corporis enim quidem nemo maiores, aliquid quo consectetur rem. Consequuntur, modi.
                </p>
            </article>
            <input type="range" id="Range--question" min="1" max="10" value="1">
            <button id="Volver">Back in the start</button>
        </section>
        <section class="Answers">
            <article class="Container-Anwers">
                <div class="Container">
                    <div>1</div>
                    <span id="Anwer">aaa</span>
                </div>
                <div class="Container">
                    <div>2</div>
                    <span id="Anwer">aaa</span>
                </div>
                <div class="Container">
                    <div>3</div>
                    <span id="Anwer">aaa</span>
                </div>
                <div class="Container">
                    <div>4</div>
                    <span id="Anwer">aaa</span>
                </div>
            </article>
            <button type="button">Submit anwer</button>
        </section>
    </main>
    <script src="../../Js/Action.js"></script>
</body>
</html>